/*
/.**

#
# white list
# 
# zsh
!/.zprofile
!/.zshrc

# brew
!/brew

# script
!/bin

# git
!/.commit_template
!/.gitconfig

# vscode
!/vscode

# karabiner
!/karabiner

# etc
!/README.md
!/LICENSE
!/Makefile
!.gitignore
!.gitkeep