/*
/.**

#
# white list
# 
# zsh
!/.zprofile
!/.zshrc

# brew
!/Brewfile
!/Brewfile.lock.json

# script
!/bin

# git
!/.commit_template
!/.gitconfig

# vscode
!/vscode

# etc
!/README.md
!/LICENSE
!/Makefile
!.gitignore
!.gitkeep