/*
/.**

#
# white list
#
# zsh
!/.zprofile
!/.zshrc

# brew
!/brew

# script
!/scripts
!/bin

# editorconfig
!/.editorconfig

# git
!/.commit_template
!/.gitconfig

# vscode
!/vscode

# karabiner
!/karabiner

# etc
!/README.md
!/LICENSE
!/Makefile
!.gitignore
!.gitkeep
